body {
    background-color: rgba(120, 230, 230, 0.493);
    text-align: center;
}

.page-border{
    background-color: white;
    margin: 30px;
    min-height: 88vh;
}

.ta-da {
    min-width: 340px;
}

h2 {
    margin-top: 10px;
}
