body {
    background-color: rgb(232, 237, 253);
    text-align: center;
}

h1 {
    text-align: center;
    color: #503699;
    font-family: 'Calistoga', cursive;
}

fieldset {
   border: none;
}

.Add-Task {
    font-family: 'Calistoga', cursive;
}

table {
    margin-left:auto;
    margin-right:auto;
    padding: 15px;
}

td {
    height: 35px;
}

tr:hover {background-color: #d8cff0;};


